<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hqsc.ray.wcc.mapper.WccTalentAuthMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="hqsc.ray.wcc.entity.WccTalentAuth">
                    <id column="TALENT_AUTH_ID" property="talentAuthId" />
                    <result column="USER_ID" property="userId" />
                    <result column="WECHAT_NUMBER" property="wechatNumber" />
                    <result column="TIKTOK_AUTH" property="tiktokAuth" />
                    <result column="KUAISHOU_AUTH" property="kuaishouAuth" />
                    <result column="BILIBILI_AUTH" property="bilibiliAuth" />
                    <result column="RECEIVE_ADDRESS" property="receiveAddress" />
                    <result column="STATUS" property="status" />
                    <result column="IS_DELETE" property="isDelete" />
                    <result column="CREATED_BY" property="createdBy" />
                    <result column="CREATED_BY_USER" property="createdByUser" />
                    <result column="CREATION_DATE" property="creationDate" />
                    <result column="LAST_UPDATED_BY_USER" property="lastUpdatedByUser" />
                    <result column="LAST_UPDATED_BY" property="lastUpdatedBy" />
                    <result column="LAST_UPDATE_DATE" property="lastUpdateDate" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                TALENT_AUTH_ID, USER_ID, WECHAT_NUMBER, TIKTOK_AUTH, KUAISHOU_AUTH, BILIBILI_AUTH, RECEIVE_ADDRESS, STATUS, IS_DELETE, CREATED_BY, CREATED_BY_USER, CREATION_DATE, LAST_UPDATED_BY_USER, LAST_UPDATED_BY, LAST_UPDATE_DATE
        </sql>

</mapper>
